.product__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product__list h2 {
  font-family: "Above the Beyond Serif", sans-serif;
}

.product__list ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 116px;
  padding: 0;
}

@media only screen and (max-width: 374px) {
  .product__list ul {
    grid-template-columns: 1fr;
    grid-row-gap: 16px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
  .product__list ul {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 32px;
    grid-column-gap: 16px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 950px) {
  .product__list ul {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 72px;
    grid-column-gap: 76px;
  }
}

@media only screen and (min-width: 951px) and (max-width: 1280px) {
  .product__list ul {
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 72px;
    grid-column-gap: 76px;
  }
}
